<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    不要修改任何内容 者能够正常运行-->
    <settings>
        <setting name="logImpl" value="LOG4J2"/><!-- 使用Mybatis控制日志操作开关 -->
    </settings>

    <environments default="default">
        <environment id="default">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/frameworklab3?useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true"/>
                <property name="username" value="root"/>
                <property name="password" value="114514"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 使用接口方式的MyBatis编程 -->
        <package name="com.space.mapper"/>
    </mappers>
</configuration>